<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title><%= unitedstack %> - <%= login %></title>
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon"/>
    <link href="/static/dist/uskin/<%= uskinFile %>" rel="stylesheet">
    <link href="/static/dist/<%= loginCssFile %>" rel="stylesheet">
    <script>
      window.HALO={configs:{lang:"<%= locale %>"}};
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header"></div>
      <div class="content">
        <div class="img-wrapper">
          <img src="/static/assets/logo@2x.png" />
        </div>
        <div class="input-wrapper"><%- modelTmpl %></div>
        <div class="link">
          <a href="#"><%= signup %></a>
          <span>|</span>
          <a href="#"><%= forgotPass %></a>
        </div>
      </div>
      <div class="footer">
        <div class="footer-wrapper">
          <div class="lang">
          <% if (locale == 'zh-CN') { %>
            <span>中文</span>
            <span>|</span>
            <a href="/?lang=en">English</a>
          <% } else {%>
            <a href="/?lang=zh-CN">中文</a>
            <span>|</span>
            <span>English</span>
          <% } %>
          </div>
          <p>©2016 UnitedStack Inc. All Rights Reserved. 京ICP备13015821号</p>
        </div>
      </div>
    </div>
    <script src="/static/dist/<%= loginJsFile %>"></script>
  </body>
</html> 