<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>UnitedStack 有云</title>
    <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon"/>
    <style type="text/css">
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #252f3d;
      }
      p {
        color: #00afc8;
        text-align: center;
      }
      table {
        outline: 0;
        border-collapse: collapse;
        width: 400px;
        margin: 0 auto;
      }
      table tr {
        height: 1.5em;
      }
      table > thead > tr {
        background-color: #ecf0f2;
      }
      table > thead > tr > th {
        text-align: left;
      }
      table th, table td {
        padding-left: 10px;
        border-right: 1px solid #fff;
      }
    </style>
  </head>
  <body>
    <p>Kunkka Services</p>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        <% applications.forEach(function (app) { %>
        <tr>
          <td><%= app.project %></td>
          <td><%= app.branch.production %></td>
        </tr>
       <% }) %>
       <tr>
         <td>halo</td>
         <td><%= halo %></td>
       </tr>
      </tbody>
    </table>
    <br>
    <p>Openstack Services</p>
    <table>
      <thead>
        <tr>
          <th>Service</th>
          <th>Version</th>
          <th>API</th>
        </tr>
      </thead>
      <tbody>
        <% openstack.forEach(function (op) { %>
        <tr>
          <td><%= op.name %></td>
          <td><%= op.version %></td>
          <td><%= op.api %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>