<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UnitedStack 有云</title>
    <link href="/static/dist/uskin/<%= uskinFile %>" rel="stylesheet">
    <link href="/static/dist/<%= mainCssFile %>" rel="stylesheet">
    <script>
      window.HALO={configs:{lang:"<%= locale %>"}, user:<%- user %>};
    </script>
  </head>
  <body>
    <div class="content"></div>
    <script src="/static/dist/<%= mainJsFile %>"></script>
  </body>
</html> 