<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UnitedStack 有云</title>
    <link href="/static/dist/uskin/<%= uskinFile %>" rel="stylesheet">
    <link href="/static/dist/<%= mainCssFile %>" rel="stylesheet">
    <script>
      window.HALO={configs:{lang:"<%= locale %>"}, user:<%- user %>};
    </script>
  </head>
  <body>
    <div class="container">

      <div class="navbar">
        <div class="nav-logo"><span></span></div>
        <div class="pj-name"></div>
        <div class="usage">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="user">
          <div class="search-bar"><span class="search"></span></div>
          <div class="mail"></div>
          <div class="me"></div>
        </div>
      </div>
      <div class="main">
        <ul class="nav-left">
          <li class="cube"><span class="rect"></span><span class="rect-name">监控报警</span><span class="line"></span></li>
          <li class="cube"><span class="rect"></span><span class="rect-name">Project</span><span class="line"></span></li>
          <li class="cube"><span class="rect"></span><span class="rect-name">Admin</span><span class="line"></span></li>
          <li class="cube"><span class="rect"></span><span class="rect-name">Identity</span><span class="line"></span></li>
          <li class="cube"><span class="rect"></span><span class="rect-name">Billing</span><span class="line"></span></li>
          <li class="cube"><span class="rect"></span><span class="rect-name">报表</span><span class="line"></span></li>
          <li class="cube"><span class="rect"></span><span class="rect-name">消息/日志</span><span class="line"></span></li>
          <li class="cube"><span class="rect"></span><span class="rect-name">工单支持</span></li>
        </ul>
        <div class="panel">
          <div class="panel-nav">
            <ul class="group">
              <li class="group-name">Compute</li>
              <li class="tab01 tab"><span class="icon tab-name"></span><span class="tab-name">Overview</span></li>
              <li class="tab02 tab"><span class="icon tab-name"></span><span class="tab-name">Instances</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Volumes</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Images</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Access &amp; Security</span></li>
            </ul>
            <ul class="group">
              <li class="group-name">Notwok</li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Floating IPs</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Network Topology</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Networks</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Routers</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Loadbalancers</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Firewalls</span></li>
            </ul>
            <ul class="group">
              <li class="group-name">Orchestration</li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Stacks</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Resource Type</span></li>
              <li class="tab"><span class="icon tab-name"></span><span class="tab-name">Collaboration</span></li>
            </ul>
          </div>
          <div class="tab-area">
              <p class="tab-title">Instances</p>
              <p class="path"><span>Project > Compute > </span><span class="cur-path">Instances</span></p>
              <div class="horizen"></div>
              <div class="sep_line"></div>
              <div class="btn-search">
                <input class="btn" type="button" value="Creste Instance"></input>
                <input class="btn" type="button" value="VNC Console"></input>
                <input class="btn" type="button" value="Pover on"></input>
                <input class="btn" type="button" value="Pover off"></input>
                <input class="btn" type="button" value="More"></input>
                <div class="sreachbar"><span class="search"></span></div>
              </div>
              <table class="table table-striped table-hover table-ins">
                <thead>
                  <tr>
                    <th><input type="checkbox"/></th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>IP Address</th>
                    <th>Floating IPs</th>
                    <th>Instance Type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                  <tr>
                    <td><input type="checkbox"/></td>
                    <td>Ubuntu 12.10x64</td>
                    <td>raw</td>
                    <td>raw</td>
                    <td>125 MB</td>
                    <td>125 MB</td>
                    <td>Active</td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination page-index">
                <li><a href="javascript:;" class="btn btn-xs btn-initial prev">&lt;</a></li>
                <li><a href="javascript:;" class="item">1</a></li>
                <li><a href="javascript:;" class="item active">2</a></li>
                <li><a href="javascript:;" class="item">3</a></li>
                <li><a class="item">…</a></li>
                <li><a href="javascript:;" class="item">4</a></li>
                <li><a href="javascript:;" class="item">5</a></li>
                <li><a href="javascript:;" class="btn btn-xs btn-initial next">&gt;</a></li>
              </ul>
          </div>



    </div>
    <script src="/static/dist/<%= mainJsFile %>"></script>
  </body>
</html> 