<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title><%= title %></title>
    <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon"/>
    <link href="/static/dist/uskin/<%= uskinFile %>" rel="stylesheet">
    <link href="/static/dist/<%= mainCssFile %>" rel="stylesheet">
    <style type="text/css"><%- viewCss %></style>
    <script>
      (function () {
        function isInBrowserList() {

          var userAgent = navigator.userAgent.toLowerCase();
          var version;

          // Firefox 1.0+
          var isFirefox = typeof InstallTrigger !== 'undefined';

          // Safari 3.0+ "[object HTMLElementConstructor]" 
          var isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));

          // Internet Explorer 6-11
          var isIE = /*@cc_on!@*/false || !!document.documentMode;

          // Edge 20+
          var isEdge = !isIE && !!window.StyleMedia;

          // Chrome 1+
          var isChrome = !!window.chrome && !!window.chrome.webstore;

          if (isEdge) {
            return true;
          }
          if (isFirefox) {
            return judgeVersion(userAgent, /firefox\/\d+/, 35);
          }
          if (isChrome) {
            return judgeVersion(userAgent, /chrome\/\d+/, 45);
          }
          if (isSafari) {
            return judgeVersion(userAgent, /version\/\d+/, 7);
          }
          return false;
        }

        function getVersion(ua, regx) {
          var tem = ua.match(regx);
          return Number(tem[0].match(/\d+/)[0]);
        }

        function judgeVersion(ua, regx, ver) {
          var version = getVersion(ua, regx);
          if (version > ver) {
            return true;
          }
        }

        if (!isInBrowserList()) {
          window.location = '/browser-invalid';
        }
      }());
      window.HALO=<%- HALO %>;
    </script>
  </head>
  <body>
    <div id="container"><%- modelTmpl %></div>
    <script src="/static/dist/<%= mainJsFile %>"></script>
  </body>
</html>
