<div style="font-family: 'Microsoft YaHei', Arial, Helvetica,sans-serif; position: relative;margin: 0 auto; width: 702px; font-size: 0;">
  <div style="display: inline-block; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent #343E41 #343E41 transparent;margin-left: 227px;"></div>
  <div style="display: inline-block; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: transparent transparent #343E41 #343E41;margin-left: 206px;"></div>
  <div style="width: 206px; height: 60px; position:absolute; top: 0; left: 247px; background-color: #343E41; background-image: url('<%- emailLogoUrl %>'); background-position: center center; background-size: contain; background-repeat: no-repeat; z-index: 10;"></div>
  <div style="width: 662px; margin-top: 0; margin-left: auto; margin-right: auto; background-color: #343E41; padding: 20px;">
    <div style="width: 662px; background-color: transparent; border: 1.2px solid #01AFC9; position: relative; padding: 0; text-align: center;">
      <div style="width: 20px; height: 20px; position: absolute; left:0; top: 0; background-color: #01AFC9; margin: 0;"></div>
      <div style="width: 20px; height: 20px; position: absolute; right:0; top: 0; background-color: #01AFC9; margin: 0;"></div>
      <div style="width: 20px; height: 20px; position: absolute; left:0; bottom: 0; background-color: #01AFC9; margin: 0;"></div>
      <div style="width: 20px; height: 20px; position: absolute; right:0; bottom: 0; background-color: #01AFC9; margin: 0;"></div>
      <p style="margin-top: 34px; color: #ffffff; font-size: 12px; letter-spacing: 18px; text-align: center;">-REGISTER-</p>
      <p style="margin-top: 16px; margin-bottom: 16px; color: #ffffff; font-size: 54px; letter-spacing: 2px; text-align: center;"><%= result%></p>
      <p style="text-align: center;">
        <span style="font-size: 6px; color: #ffffff; vertical-align: middle;">///////////////////</span>
        <span style="display: inline-block; margin-left: 40px; margin-right: 40px; color: #ffffff; font-size: 20px; vertical-align: middle;">尊敬的<%- corporationName %>用户</span>
        <span style="font-size: 6px; color: #ffffff; vertical-align: middle;">///////////////////</span>
      </p>
      <div>
        <div style="margin-top: 12px; color: #ffffff; font-size: 14px; text-align: left; display: inline-block; max-width: 60%;">
          <span style="line-height: 28px;">用户名</span>：<%=name%><br>
          <span style="line-height: 28px;">姓&nbsp;&nbsp;名</span>：<%=full_name%><br>
          <span style="line-height: 28px;">电&nbsp;&nbsp;话</span>：<%=phone%><br>
          <span style="line-height: 28px;">邮&nbsp;&nbsp;箱</span>：<%=email%><br>
          <span style="line-height: 28px;">公&nbsp;&nbsp;司</span>：<%=company%><br>
          <span style="line-height: 28px;"><%-resultMessage%></span>
        </div>
      </div>
      <p style="margin-top: 16px; margin-bottom: 14px; font-size: 12px; letter-spacing: 0.67px; text-align: center; height: 16px; color: #ffffff;"><%- corporationName %>—<a style="text-decoration: none; color: #ffffff;" href="<%- homeUrl %>"><%- homeUrl %></a></p>
    </div>
  </div>
</div>
