<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <title><%= title %></title>
  <link rel="shortcut icon" href="<%= favicon %>" type="image/x-icon"/>
  <link href="/static/dist/uskin/<%= uskinFile %>" rel="stylesheet">
  <style>
    body {
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background-color: #0d1b30;
      -webkit-tap-highlight-color: transparent;
    }

    .wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .wrapper .header {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }

    .wrapper .content {
      position: relative;
      margin: 0 auto;
      width: 460px;
      height: auto;
      overflow: hidden;
      transition: all 0.5s;
    }

    .wrapper .footer {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      min-height: 80px;
    }

    .content .img-wrapper {
      text-align: center;
    }

    .content .img-wrapper img {
      height: 50px;
    }

    .content h4 {
      color: #42b9e5;
      margin-bottom: 20px;
    }
    .content .input-wrapper {
      position: relative;
      margin-top: 80px;
      padding: 0 52px;
    }

    .content .captcha-row {
      font-size: 0;
    }
    .content .input-wrapper input {
      display: inline-block;
      padding: 4px 10px;
      width: 180px;
      height: 26px;
      line-height: 18px;
      font-size: 14px;
      background: rgba(255, 255, 255, 0.1);
      color: #92959a;
      border: none;
      outline: none;
    }
    .content .input-wrapper input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }

    .content .input-wrapper button {
      float: right;
      width: 140px;
      height: 36px;
      background: none;
      background-color: #42b9e5;
      border: none;
      line-height: 2px;
      font-size: 14px;
      color: #fff;
      letter-spacing: 1px;
      border-radius: 2px;
    }

    .content .input-wrapper button:hover {
      background-color: #00a2b9;
      color: #fff;
    }
    .content .input-wrapper button[disabled] {
      color: #939ba3;
      cursor: not-allowed;
      background-color: #bbbfc5;
    }

    .content .error-msg {
      line-height: 30px;
      font-size: 14px;
      color: #ef5665;
      overflow: hidden;
      margin-top: 8px;
    }
    .content .input-wrapper input[type="submit"] {
      width: 336px;
      margin: 8px 0;
      background: none;
      background-color: #42b9e5;
      height: 30px;
      line-height: 2px;
      font-size: 14px;
      color: #fff;
      letter-spacing: 1px;
      border-radius: 2px;
    }
    .content .input-wrapper input[type="submit"]:hover {
      background-color: #00a2b9;
      color: #fff;
    }
    .content .input-wrapper input[type="submit"].disabled {
      color: #939ba3;
      cursor: not-allowed;
      background-color: #bbbfc5;
    }

    .footer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #fff;
    }

    .footer p {
      position: absolute;
      text-align: center;
      color: #fff;
      bottom: 10px;
    }
  </style>
</head>
<body>
  <% if (locale == 'en') { %>
    <div class="wrapper">
      <div class="header"></div>
      <div class="content">
        <div class="img-wrapper">
          <img src="<%= single_logo_url %>"/>
        </div>
        <div class="input-wrapper">
          <h4>Complete two-factor authentication</h4>
          <form id="subForm">
            <div class="captcha-row">
              <input type="text" name="captcha" id="captcha" placeholder="Captcha" autofocus="true">
              <button class="get-captcha" id="getBtn" type="button" disabled>Sending after 60 seconds</button>
            </div>
            <div class="error-msg" id="errorMsg"></div>
            <input type="submit" class="login-btn" id="loginBtn" value="Login" />
          </form>
        </div>
      </div>

      <div class="footer">
        <p><%= company %></p>
      </div>
    </div>
    
    <script>
      var captchaElem = document.getElementById('captcha'),
        getBtnElem = document.getElementById('getBtn'),
        errorMsgElem = document.getElementById('errorMsg'),
        loginBtnElem = document.getElementById('loginBtn'),
        formElem = document.getElementById('subForm')

      var canGetCaptcha = false,
        count = 60,
        timer;
      
      beginTimer();


      getBtnElem.addEventListener('click', getCaptcha);

      formElem.addEventListener('submit', submitForm);

      function getCaptcha(evt) {
        if(!canGetCaptcha) {
          return;
        }

        evt.target.disabled = true;
        canGetCaptcha = false;
        evt.target.innerHTML = 'Sending';
  
        var request = createXMLHTTPRequest();
        request.open("POST", "/api/auth/admin-reauth/phone-captcha", true);
        request.send();
        request.onreadystatechange = function () {
          if (request.readyState == 4) {
            if (request.status == 200) {
              captchaElem.focus();
              beginTimer();
            } else {
              getBtnElem.disabled = false;
              getBtnElem.innerHTML = 'Get captcha';
              canGetCaptcha = true;
              try {
                errorMsgElem.innerHTML = JSON.parse(request.responseText).message || 'Unknown error';
              } catch(error) {
                errorMsgElem.innerHTML = 'Unknown error';
              }
            }
          }
        }
      }

      function createXMLHTTPRequest() {
        var xmlHttpRequest;
        if (window.XMLHttpRequest) {
          xmlHttpRequest = new XMLHttpRequest();
          if (xmlHttpRequest.overrideMimeType) {
            xmlHttpRequest.overrideMimeType("text/xml");
          }
        } else if (window.ActiveXObject) {
          xmlHttpRequest = new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlHttpRequest;
      }

      function beginTimer() {
        timer = setInterval(function() {
          if(count === 0) {
            clearInterval(timer);
            timer = null;
            count = 60;
            canGetCaptcha = true;
            getBtnElem.disabled = false;
            getBtnElem.innerHTML = 'Get captcha';
            return;
          } else {
            count--;
            getBtnElem.innerHTML = 'Sending after ' + count + ' seconds';
          }
        }, 1000);
      }

      function submitForm(evt) {
        evt.preventDefault();
        var captcha = captchaElem.value.trim();

        if(!/^\d{6}$/.test(captcha)) {
          if(!/\berror\b/.test(captchaElem.className)) {
            captchaElem.className +=' error';
          }
          errorMsgElem.innerHTML = 'Captcha error, please check your input.';
          return;
        }

        loginBtnElem.disabled = true;
        var request = createXMLHTTPRequest();
        req.open("POST", "/api/auth/admin-reauth", true);
        req.setRequestHeader("Content-Type", "application/json");
        req.send(JSON.stringify({
          captcha: captcha
        }));

        req.onreadystatechange = function () {
          if (req.readyState == 4) {
            if (req.status == 200) {
              loginBtnElem.disabled = false;
              window.location = '/admin';
            } else {
              loginBtnElem.disabled = false;
              try {
                errorMsgElem.innerHTML = JSON.parse(req.responseText).message || 'Unknown error';
              } catch(error) {
                errorMsgElem.innerHTML = 'Unknown error'
              }
            }
          }
        }
      }
    </script>
  <% } else { %>

    <div class="wrapper">
      <div class="header"></div>

      <div class="content">
        <div class="img-wrapper">
          <img src="<%= single_logo_url %>"/>
        </div>
        <div class="input-wrapper">
          <h4>完成双因素认证</h4>
          <form id="subForm">
            <div class="captcha-row">
              <input type="text" name="captcha" id="captcha" placeholder="短信验证码" autofocus="true">
              <button class="get-captcha" id="getBtn" type="button" disabled>60秒后重新发送</button>
            </div>
            <div class="error-msg" id="errorMsg"></div>
            <input type="submit" class="login-btn" id="loginBtn" value="登录" />
          </form>
        </div>
      </div>

      <div class="footer">
        <p><%= company %></p>
      </div>
    </div>
    
    <script>
      var captchaElem = document.getElementById('captcha'),
        getBtnElem = document.getElementById('getBtn'),
        errorMsgElem = document.getElementById('errorMsg'),
        loginBtnElem = document.getElementById('loginBtn'),
        formElem = document.getElementById('subForm')

      var canGetCaptcha = false,
        count = 60,
        timer;

      beginTimer();

      getBtnElem.addEventListener('click', getCaptcha);

      formElem.addEventListener('submit', submitForm);

      function getCaptcha(evt) {
        if(!canGetCaptcha) {
          return;
        }

        evt.target.disabled = true;
        canGetCaptcha = false;
        evt.target.innerHTML = '发送中';
  
        var request = createXMLHTTPRequest();
        request.open("POST", "/api/auth/admin-reauth/phone-captcha", true);
        request.send();
        request.onreadystatechange = function () {
          if (request.readyState == 4) {
            if (request.status == 200) {
              captchaElem.focus();
              beginTimer();
            } else {
              getBtnElem.disabled = false;
              getBtnElem.innerHTML = '获取短信验证码';
              canGetCaptcha = true;
              try {
                errorMsgElem.innerHTML = JSON.parse(request.responseText).message || '未知错误';
              } catch(error) {
                errorMsgElem.innerHTML = '未知错误';
              }
            }
          }
        }
      }

      function createXMLHTTPRequest() {
        var xmlHttpRequest;
        if (window.XMLHttpRequest) {
          xmlHttpRequest = new XMLHttpRequest();
          if (xmlHttpRequest.overrideMimeType) {
            xmlHttpRequest.overrideMimeType("text/xml");
          }
        } else if (window.ActiveXObject) {
          xmlHttpRequest = new ActiveXObject("Microsoft.XMLHTTP");
        }
        return xmlHttpRequest;
      }

      function beginTimer() {
        timer = setInterval(function() {
          if(count === 0) {
            clearInterval(timer);
            timer = null;
            count = 60;
            canGetCaptcha = true;
            getBtnElem.disabled = false;
            getBtnElem.innerHTML = '获取短信验证码';
            return;
          } else {
            count--;
            getBtnElem.innerHTML = count + '秒后重新发送'
          }
        }, 1000);
      }

      function submitForm(evt) {
        evt.preventDefault();
        var captcha = captchaElem.value.trim();

        if(!/^\d{6}$/.test(captcha)) {
          if(!/\berror\b/.test(captchaElem.className)) {
            captchaElem.className +=' error';
          }
          errorMsgElem.innerHTML = '验证码错误，请检查您的输入。';
          return;
        }

        loginBtnElem.disabled = true;
        var request = createXMLHTTPRequest();
        request.open("POST", "/api/auth/admin-reauth", true);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify({
          captcha: captcha
        }));

        request.onreadystatechange = function () {
          if (request.readyState == 4) {
            if (request.status == 200) {
              loginBtnElem.disabled = false;
              window.location = '/admin';
            } else {
              loginBtnElem.disabled = false;
              try {
                errorMsgElem.innerHTML = JSON.parse(request.responseText).message || '未知错误';
              } catch(error) {
                errorMsgElem.innerHTML = '未知错误';
              }
            }
          }
        }
      }
    </script>
  <% } %>

</body>
</html>